template(name='navigation_menu2')
    h2 Navigation:
    h4 Load data
        button.btn.loadCsv Load CSV file
    h4 View graphs
    h4 Manage Transactions
    h4 View hotspots

template(name='navigation_menu')
   .pure-menu.pure-menu-open
        ul
            li.pure-menu-heading Views
            li
                a(href='/AccountSummary', class='{{activeNav \'accSummary\'}}') Account Summary
            li
                a(href='/Transactions', class='{{activeNav \'trans\'}}')
                    | Transactions 
                    span.tran-count (2)
            li
                a(href='/Hotspots', class='{{activeNav \'hotspots\'}}') Hotspots
            li
                a(href='/Bills', class='{{activeNav \'bills\'}}') Bills
            li.pure-menu-heading Admin
            li
                a(href='/ImportData', class='{{activeNav \'import\'}}') Import Data
            li
                a(href='/RequestFeature', class='{{activeNav \'reqFeature\'}}') Request a feature!
            li
                a(href='/About', class='{{activeNav \'about\'}}') About


template(name='navigation_menu_old')
    .accordion#nav-menu
        .accordion-group.nav-group
            .accordion-heading.nav-gradient
              a.accordion-toggle.nav-import(
                                data-toggle='collapse', 
                                data-parent='#nav-menu', 
                                href='#import-data').nav-font
                | Import Financial Data
            #import-data.accordion-body.collapse.in
              .accordion-inner
                | Load a .csv file into the tool:
                button.btn.loadCsv Load CSV file
        .accordion-group.nav-group
            .accordion-heading.nav-gradient
              a.accordion-toggle.nav-transactions(
                                data-toggle='collapse', 
                                data-parent='#nav-menu', 
                                href='#transactions-view').nav-font
                | Transactions View
            #transactions-view.accordion-body.collapse
              .accordion-inner
                p.lead Transaction Summary
                p 
                    b Total: 
                    | {{ numTransactions }}
                p 
                    b Untagged: 
                    | {{ numTransactions }}
        .accordion-group.nav-group
            .accordion-heading.nav-gradient
              a.accordion-toggle.nav-graph(
                                data-toggle='collapse', 
                                data-parent='#nav-menu', 
                                href='#graph-view').nav-font
                | Graph View
            #graph-view.accordion-body.collapse
              .accordion-inner
                p.lead Select a graph
                
